/*mobile*/

body{
    margin: 0;
    background-color: white;
}

.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(9,1fr);
    grid-template-rows: repeat(11,1fr);
}

.picture1{
    background-image: url(../img/eiffel-tower.png);
    background-size: cover;
    grid-column: 1/10;
    grid-row: 2/12;
}

.bar{
    background-color: #870933;
    grid-column: 1/10;
    grid-row: 1/2;
}

.menu_icon{
    grid-column: 1/2;
    grid-row: 1/2;
    margin-top: 12px;
    margin-left: 10px;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 32px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
}

/*Desktop*/
@media only screen and (min-device-width: 667px){
    
    body{
        margin:0;
        background-color: green;
    }
    
    .container{
        width: 100vw;
        height: 100vh;
        display: grid;
        grid-template-columns: repeat(7,1fr);
        grid-template-rows: repeat(9,1fr);
    }

}