/*mobile*/

body{
    margin: 0;
    background-color: white;
}

.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(9,1fr);
    grid-template-rows: repeat(11,1fr);
}

.picture{
    background-image: url(../img/Bild_1.jpg);
    grid-column: 2/7;
    grid-row: 3/7;
}

.bar{
    background-color: black;
    grid-column: 1/8;
    grid-row: 1/2;
}



/*Desktop*/
@media only screen and (min-device-width: 667px){
    
    body{
        margin:0;
        background-color: green;
    }
    
    .container{
        width: 100vw;
        height: 100vh;
        display: grid;
        grid-template-columns: repeat(7,1fr);
        grid-template-rows: repeat(9,1fr);
    }

}